@import "~bootstrap/scss/bootstrap";
$main-color: #4e008e;

.page-container {
  @include make-container();
  @include make-container-max-widths();
  margin-top: 20px;
  margin-bottom: 20px;
}

.page {
  @include make-row();
}

.page__content {
  @include make-col-ready();
  @include make-col(12);
  order: 2;
  @include media-breakpoint-up(lg) {
    order: 1;
    @include make-col(9);
  }
}

.button-row {
  @include make-col-ready();
  @include make-col(12);
}

.page__sidebar {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    order: 2;
    @include make-col(3);
  }
}

.boxes {
  @include make-row();
}

.boxes__box {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-only(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
}

.square {
  height: 200px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $main-color;
  &:hover {
    border: 5px solid $main-color;
    background-color: white; 
  }
}

.boxes__remove {
  @include make-col-ready();
  @include make-col(12);
}

.removerow__button {
  @include make-col-ready();
  @include make-col(1);
  margin-top: 15px;
}

.mybutton {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

// .gifs {
//   @include make-row();
//   margin-top: 30px;
//   border: 2px solid $main-color;
// }

.gifs__gif {
  @include make-col-ready();
  @include make-col(6);
  @include media-breakpoint-up(lg) {
    @include make-col(12);
  }
}

.search { 
  @include make-row();
  border: 2px solid $main-color;
}
