.container {
    max-width: 1200px;
    margin: 50px auto;
    height: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 0 0 25%; 
}

.purple, .white {
    margin: 30px;
    height: 250px;
    box-sizing: border-box;
} 

.purple { 
    background-color: #4e008e;
}

.white { 
    border: 2px solid #4e008e;
} 

@media screen and (max-width: 768px){
    .row {
        flex-wrap: wrap;
    }
    .column {
        flex: 0 0 50%;
    }
    .column:nth-child(3) {
        order: 3;
    }
    .row--even {
        flex-direction: row-reverse;
    }
}
